*.bin

*.xml

*.png

*.lua

*.zip


# Saves
saves/*

saves/**/vehicles
saves/**/script_data

# Designs (Microprocessors & Vehicles)
data/backups

data/missions
data/missions_tmp

# Microprocessors
data/microprocessors/*


# Vehicles
data/vehicles/*

!data/vehicles/ps *
